/* -----  1.1 Font Definitions  --------------------------------------------- */

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-400.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Vesper Libre */
@font-face {
  font-family: 'Vesper Libre';
  src: url(../fonts/vesperlibre-400.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vesper Libre';
  src: url(../fonts/vesperlibre-500.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vesper Libre';
  src: url(../fonts/vesperlibre-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* The Clearfix™: A classic … */
.cf::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.hide {
  display: none;
}
.rounded-button {
  height: 28px;
  border-radius: 4px;
  padding: 1px 10px 1px 9px;
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 8px 1px 6px;
  background-color: #1b95e0;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}

/* -----  3.2 Menu  --------------------------------------------------------- */

.menu {
  text-align: center;
  font-weight: 500;
}

.menu-item {
  display: inline-block;
}

.menu-item:not(:last-child)::after {
  content: "⁄";
  display: inline-block;
  font-size: .75em;
  padding: 0 .2em;
  color: #a8a5be;
}

.menu-item a {
  border-bottom: 0;
}

.menu-item.is-active a {
  border-bottom: 2px solid #71efac;
}

@media all and (min-width: 56em) {
  .menu {
    text-align: right;
  }
}

/* -----  3.3 Sticky Footer  ------------------------------------------------ */

@keyframes pulsing-heart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.footer {
	background:$nav-background;
  padding: 1.5rem 0;
  text-align: center;
  font-size: .875rem;
  color:$white;
}

.footer p {
  margin-bottom: 0;
}

.footer a {
  border-bottom: 0;
}
p a {
  color:#222;
}
.footer .heart {
  /* The heart character of Arial Unicode MS looks just
     surprisingly nice … */
  font-family: "Arial Unicode MS", Arial, sans-serif;
  display: inline-block;
}

.footer-madewithkirby a:hover .heart {
  animation: pulsing-heart .6s linear infinite;
}

@media all and (min-width: 48em) {
  .footer-copyright, .footer-madewithkirby {
    display: inline;
  }
}

/* -----  3.4 Main Content  ------------------------------------------------- */
.ghost-box {
  background-color:black;
  opacity:0.6;
  width:100%;
  position:absolute;
  top:80px;
  z-index:-1;
  left:0px;
  height:100%;
  &.line{
    height:2px;
    border-bottom:2px solid $light-gray;
  }
}

.float-center {
  display:table;
  .social-media {
    margin: 0 0.5rem;
  }
}
.main {
  padding-top: 6rem;
  padding-bottom: 1.5rem;
}
.main-logo {
	margin-top:10rem;
  z-index:2;
}

section[data-magellan-target] {
	position:relative;
  margin-bottom:30rem;
  z-index:1;
  &.tight {
  margin-bottom:8rem;
  }
}
#Contact {
   margin-bottom: 0;
  }

h1, h2, h3, h4 {
	font-weight:300;
	color: $white;
	text-align: center;
  &.application {
    color:black;
  }
}

h1 {
	margin-top:2rem;
	margin-bottom:3rem;
}

.bg-cells {
	z-index:-1;
	filter:blur(0px);
	position:fixed;
	top:0;
	left:-20%;
	width:120%;
	height:100%;
  &.solid {
    background:$white;
  }
	.i1,.i2,.i3,.i4{
		position:absolute;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
		background-blend-mode: multiply;
		mix-blend-mode:screen;
	}


	img.bg {
	  /* Set rules to fill background */
	  min-height: 100%;
	  min-width: 1024px;

	  /* Set up proportionate scaling */
	  width: 100%;
	  height: auto;

	  /* Set up positioning */
	  position: fixed;
	  top: 0;
	  left: 0;
	}

	@media screen and (max-width: 1024px) { /* Specific to this particular image */
	  img.bg {
	    left: 50%;
	    margin-left: -512px;   /* 50% */
	  }
	}
}
p {
	color: $white;
  font-size:$paragraph-font-size;
  &.application {
    color: $dark-gray;
  }
}
.social-media {
  width:40px;
  height:40px;
  display:inline-block;
}
.showcase-text {
	color:$white;
  &.application {
    color: $dark-gray;
  }
}
.showcase-image {
	width:100%;
	height:auto;
}
.showcase-caption {
	color:$white;
	margin-bottom: 2rem;
	font-style: italic;
  &.application {
    color: $dark-gray;
  }
}
.full-width {
  width:100%;
  height:auto;
}

/* -----  Contact Form   ------------------------------------------------- */
#contact-form {
	margin-bottom: 50%;
}

.display-none {
  display: none;
}

.linkedin {
  margin-left:1rem;
  border-radius:2px;
  padding: 4px;
  width:auto;
  height:28px;
  background:#0077b5;
}
.IN-followcompany {
  height:26px;
  &.IN-logo {
    background-size: 145px;
  }
}
