	.i1 {
		background-image:	url('../images/em/colorcurescancer1.jpg') !important;
	}
	.i2 {
		background-image:	url('../images/em/colorcurescancer2.jpg') !important;
	}
	.i3 {
		background-image:	url('../images/em/colorcurescancer3.jpg') !important;
	}
	.i4 {
		background-image:	url('../images/em/colorcurescancer4.jpg') !important;
	}