	.i1 {
		background-image:	url('/assets/images/em/colorcurescancer1.jpg');
	}
	.i2 {
		background-image:	url('/assets/images/em/colorcurescancer2.jpg');
	}
	.i3 {
		background-image:	url('/assets/images/em/colorcurescancer3.jpg');
	}
	.i4 {
		background-image:	url('/assets/images/em/colorcurescancer4.jpg');
	}