	.i1 {
		background-image:	url('/assets/images/value/CK17.jpg');
	}
	.i2 {
		background-image:	url('/assets/images/value/DAPI.jpg');
	}
	.i3 {
		background-image:	url('/assets/images/value/CK8+18.jpg');
	}
	.i4 {
		background-image:	url('/assets/images/value/Ki67.jpg');
	}